In [2]:
import pandas as pd
import numpy as np

In [3]:
with open('input.txt') as fin:
    instructions=fin.readlines()

In [7]:
instructions = [x.rstrip().split(' ') for x in instructions]

In [13]:
np.add((1,0), (1,0))

array([2, 0])

In [22]:
move_it={'U': (1,0),
     'D': (-1,0),
     'L': (0,-1),
     'R': (0,1)}

possible_tail_moves = [(1,1), (0,1), (1,0), (1,-1), (-1,1), (-1,-1), (0,-1), (-1,0)]

In [21]:
def calc_dist(point1, point2):
    dist = np.linalg.norm(point1 - point2)
    return(dist)

In [32]:
current_head_coordinate = (0,0)
current_tail_coordinate = (0,0)

head_coordinates = [np.array([0,0])]
tail_coordinates = [np.array([0,0])]
for move in instructions:
    for x in range(0,int(move[1])):
        current_head_coordinate = np.add(current_head_coordinate, move_it[move[0]])
        head_coordinates.append(current_head_coordinate)
        current_dist = calc_dist(current_tail_coordinate, current_head_coordinate)
        if current_dist < 2:
            continue
        else:
            tail_distances = []
            for tm in possible_tail_moves:
                tail_distances.append(calc_dist(current_head_coordinate, np.add(current_tail_coordinate, tm)))
            pos_tail_dist = dict(zip(possible_tail_moves, tail_distances))
            selected_move=min(pos_tail_dist, key=pos_tail_dist.get)
            current_tail_coordinate = np.add(current_tail_coordinate, selected_move)
            tail_coordinates.append(current_tail_coordinate)

In [45]:
tail_df=pd.DataFrame(tail_coordinates)

In [46]:
tail_df.drop_duplicates(subset=[0,1]

       0    1
0      0    0
1      1    0
2      2   -1
3      1   -2
4      0   -1
...   ..  ...
9172 -47  254
9173 -47  255
9174 -47  256
9175 -47  257
9176 -47  258

[6470 rows x 2 columns]

# Part 2

In [84]:
all_coordinates = [np.array([0,0]) for x in range(0,10)]
all_coordinates_history = [list([np.array([0,0])]) for x in range(0,10)]
for move in instructions:
    for x in range(0,int(move[1])):
        # current_head_coordinate
        all_coordinates[0] = np.add(all_coordinates[0], move_it[move[0]])
        all_coordinates_history[0].append(all_coordinates[0])
        for n in range(0,9):            
            current_dist = calc_dist(all_coordinates[n], all_coordinates[n+1])
            if current_dist < 2:
                all_coordinates_history[n+1].append(all_coordinates[n+1])
                continue
            else:
                tail_distances = []
                for tm in possible_tail_moves:
                    tail_distances.append(calc_dist(all_coordinates[n], np.add(all_coordinates[n+1], tm)))
                pos_tail_dist = dict(zip(possible_tail_moves, tail_distances))
                selected_move=min(pos_tail_dist, key=pos_tail_dist.get)
                all_coordinates[n+1] = np.add(all_coordinates[n+1], selected_move)
                all_coordinates_history[n+1].append(all_coordinates[n+1])

In [85]:
pd.DataFrame(all_coordinates_history[9])

        0    1
0       0    0
1       0    0
2       0    0
3       0    0
4       0    0
...    ..  ...
11688 -47  246
11689 -47  247
11690 -47  248
11691 -47  249
11692 -47  250

[11693 rows x 2 columns]

In [86]:
pd.DataFrame(all_coordinates_history[9]).drop_duplicates(subset=[0,1])

        0    1
0       0    0
84     -1    1
132    -2    2
140    -3    2
151    -4    2
...    ..  ...
11688 -47  246
11689 -47  247
11690 -47  248
11691 -47  249
11692 -47  250

[2658 rows x 2 columns]